@import "tailwindcss";

:root {
  --background: #2a2a2a;
  --foreground: #ffffff;
}

@font-face {
  font-family: "besta";
  src: url("../assets/fonts/Besta_Baru.otf");
}

@font-face {
  font-family: "ewert";
  src: url("../assets/fonts/Ewert-Regular.ttf");
}

@font-face {
  font-family: "circus";
  src: url("../assets/fonts/CircusWorldDemoRegular.ttf");
}

@font-face {
  font-family: "airen";
  src: url("../assets/fonts/Airen-Regular.otf");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-kitchen-red: #710711;
  --color-kitchen-pink: #f1b5db;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.music-promo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--promo-bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 20%;
  filter: blur(3px);
}

.element {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .image-container {
    height: 25vh;
    width: 25vw;
    position: relative;
  }

  .image-container > img {
    object-fit: cover;
  }

  &:nth-of-type(2) {
    .image-container {
      top: -30vh;
      left: 5vw;
      width: 35vw;
      height: 30vh;
    }
  }
  &:nth-of-type(3) {
    .image-container {
      top: -9vh;
      left: -30vw;
      width: 30vw;
      height: 45vh;
    }
  }
  &:nth-of-type(4) {
    .image-container {
      top: -26vh;
      left: 37.5vw;
      width: 25vw;
      height: 25vh;
    }
  }
  &:nth-of-type(5) {
    .image-container {
      top: 27.5vh;
      left: -32.5vw;
      width: 30vw;
      height: 25vh;
    }
  }
  &:nth-of-type(6) {
    .image-container {
      top: 21vh;
      left: 8vw;
      width: 40vw;
      height: 15vh;
    }
  }
  &:nth-of-type(8) {
    .image-container {
      top: -44vh;
      left: 36.5vw;
      width: 22.5vw;
      height: 10vh;
    }
  }
  &:nth-of-type(9) {
    .image-container {
      top: -40vh;
      left: -25vw;
      width: 22.5vw;
      height: 15vh;
    }
  }
  &:nth-of-type(10) {
    .image-container {
      top: 43.5vh;
      left: 22.5vw;
      width: 47.5vw;
      height: 12vh;
    }
  }
  &:nth-of-type(11) {
    .image-container {
      top: 26vh;
      left: 45vw;
      width: 27.5vw;
      height: 22vh;
      z-index: -1;
    }
  }
  &:nth-of-type(12) {
    .image-container {
      top: 33vh;
      left: 7vw;
      width: 44vw;
      height: 7vh;
    }
  }
  &:nth-of-type(13) {
    .image-container {
      left: 31vw;
      width: 33vw;
      height: 25vh;
    }
  }
}
